// disable selection for WebKit views
* {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

user-intractable {
  user-drag: auto;
  user-select: auto;
  -webkit-user-drag: auto;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
}

.top-view {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .top-view {
    background-color: black;
  }

  canvas {
    filter: invert(100%);
  }

  select {
    background-color: #14141405;
    color: white;
  }

  .fill-and-stroke-container {
    color: white;
  }

  .btn {
    img {
      filter: invert(100%);
    }
  }
}

.btn {
  min-width: 50px;
  display: block;
  padding-top: 100%;
  background-color: transparent;
  border: none;
  height: 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 12px;
  border-radius: 8px;

  &:active,
  &.active {
    background-color: white;
    filter: invert(75%);
  }
}

.text-input {
  padding: 8px;
  display: block;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 35px;
  font-size: 1em;
  margin: 0.5em;
}


.btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.circle {
  height: 4em;
  width: 4em;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  margin: 5px;

  &.black {
    border: 1px solid white;
    background-color: black;
  }

  &:active {
    background-color: gray;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-to-end {
  min-width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 5px;
  margin: 5px 0 0 0;
}

.centered-area {
  place-self: stretch center;
  display: flex;
  align-items: center;
  width: 100%;
}

.fill-and-stroke-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding-left: 10px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0 5px 0 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

select {
  font-size: 1em;
  min-height: 30px;
  margin: 5px;
}
